body {
  font-family: sans-serif;
}


.drop-down-list {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 544.406px !important;
  margin: 0 0 0 0;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  width: 100%;
  display: flex;
}

.suggestions {
  display: block;
  width: 679.156px;
  left: 11.25px;
  top: 46px;
  max-height: 300px;
  transform-origin: 0px 0px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.suggestions::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%
}

body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}